.about {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 24em;
    list-style-type: none;
    background: #4d4d4f;
    font-size: 1.2rem;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 20px;
    padding: 24px;
}

.about-title {
    border-bottom: solid 2px #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.about-title a {
    text-align: center;
}

.about-title .icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0 0 0 0.5em;
}

.about h3 {
    margin: 1em 0 0;
}

.about p {
    margin: 0.5em 0;
}

.about ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

.about ul li a {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
}

#about-hide {
    display: none;
}

#about-show {
    display: flex;
}


#about-github {
    background-color: #2da44e;
    color: white;
}

#about-github:hover {
    background-color: #288b44;
}

#about-github:active {
    background-color: #227439;
}

#about-deakin {
    background-color: #6ed8b8;
    color: black;
}

#about-deakin:hover {
    background-color: #5ab499;
}

#about-deakin:active {
    background-color: #48927c;
}

#about-classifier {
    color: #2ddd4e;
}