{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    
    <!-- Client ID -->
    <meta name="google-signin-client_id" content="193616559408-1hjmtni7oi3vm0g6ri421ccjumuflfef.apps.googleusercontent.com">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/reset.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/menu.css' %}">
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Body for the map -->
    <div id="map"></div>
    <div class="menu">
      <ul class="menu_top">
        <button class="long_btn" onClick="drawRect();">Draw Rectangle</button>
        <li>
          <a href="#" class="map_icon first_menu_item"><img class="icon" src="{% static 'dam_app/images/planet.svg' %}" alt="">Map</a>
          <div class="map_styles second_menu">
            <h3 class="header">Map Style</h3>
            <ul>
              <li>
                <a href="#"><img class="big_icon" src="{% static 'dam_app/images/map1.png' %}" alt=""></a>
              </li>
              <li>
                <a href="#"><img class="big_icon" src="{% static 'dam_app/images/map2.png' %}" alt=""></a>
              </li>
              <li>
                <a href="#"><img class="big_icon" src="{% static 'dam_app/images/map3.png' %}" alt=""></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="classifier_icon first_menu_item"><img class="icon" src="{% static 'dam_app/images/cube.svg' %}" alt="">Classifier</a>
          <div class="classifier_options second_menu">
            <ul>
              <li>
                <a  class="long_btn">Full Algorithm</a>
              </li>
              <li>
                <a  class="long_btn"><img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">Half Algorithm</a>
              </li>
              <li>
                <a  class="long_btn"><img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">
                  <img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">
                  Quick Algorithm</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="export_icon first_menu_item">
            <img class="icon" src="{% static 'dam_app/images/export.svg' %}" alt="">Export
          </a>
          <div class="export_options second_menu">
            <h3 class="header"><img class="icon" src="{% static 'dam_app/images/export.svg' %}" alt="">Map Export</h3>
            <ul>
              <li>
                <a  class="long_btn">GEO-TIFF</a>
              </li>
              <li>
                <a  class="long_btn">PNG</a>
              </li>
              <li>
                <a  class="long_btn">JPG</a>
              </li>
              <li>
                <a  class="long_btn">SVG</a>
              </li>
            </ul>
            <h3 class="header"><img class="icon" src="{% static 'dam_app/images/polygon.svg' %}" alt="">Polygon Outline</h3>
            <ul>
              <li>
                <a  class="long_btn">GEO-TIFF</a>
              </li>
              <li>
                <a  class="long_btn">JSON</a>
              </li>
            </ul>
            <h3 class="header"><img class="icon" src="{% static 'dam_app/images/signal.svg' %}" alt="">Statistics</h3>
            <ul>
              <li>
                <a  class="long_btn">JSON</a>
              </li>
              <li>
                <a  class="long_btn">XLSX</a>
              </li>
              <li>
                <a  class="long_btn">CSV</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="menu_bottom">
        <li>
          <a href=""><img class="icon" src="{% static 'dam_app/images/bug.svg' %}">Errors</a>
        </li>
        <li>
          <a href=""><img class="icon" src="{% static 'dam_app/images/share.svg' %}">Share</a>
        </li>
      </ul>
    </div>
  </body>
  <!-- Page interactivity -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('.map_icon').on('click', function(e){
        if ($('.map_styles').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.map_icon').addClass('active');
          $('.map_styles').show();
          }});
      $('.classifier_icon').on('click', function(e){
        if ($('.classifier_options').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.classifier_options').addClass('active');
          $('.classifier_options').show();
      }});
      $('.export_icon').on('click', function(e){
        if ($('.export_options').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.export_options').addClass('active');
          $('.export_options').show();
      }});
    });
  </script>
  <!-- Import scripts -->
  <!-- Load the Google Maps API. -->
  <script src="https://maps.google.com/maps/api/js?libraries=drawing"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{% static 'dam_app/js/map.js' %}"></script>
  <script defer src="{% static 'dam_app/js/gee.js' %}"></script>
  <script defer src="{% static 'dam_app/js/sentinelWaterDetectionPolygonApp.js' %}"></script>
  <script defer src="{% static 'dam_app/js/gee-interface.js' %}"></script>
</html>
