{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    
    <!-- Client ID -->
    <meta name="google-signin-client_id" content="193616559408-1hjmtni7oi3vm0g6ri421ccjumuflfef.apps.googleusercontent.com">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/reset.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/menu.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/home.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'dam_app/css/about.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <body>
    <!-- Body for the map -->
    <div id="map"></div>
    <div class="menu">
      <ul class="menu_top">
        <h5 id="status">Status</h5>
        <a href="#" class="rectangle_icon first_menu_item" onClick="draw();"><img class="icon" src="{% static 'dam_app/images/rectangle.png' %}" alt="">Draw Region</a>
        <button class="long_btn" onClick="clearOverlays();">Clear</button>
        Date Range: <div id="slider-range"></div>
        <div id="date-range"></div>
        Opacity: <input type="range" min="0" max="100" value="100" class="slider" id="opacity" oninput="changeOpacity(this.value);"> <br/>
        <button id="blur-toggle" onClick="toggleBlur();">Blur ON</button>
        <li>
          <a href="#" class="map_icon first_menu_item"><img class="icon" src="{% static 'dam_app/images/planet.svg' %}" alt="">Map</a>
          <div class="map_styles second_menu">
            <h3 class="header">Map Style</h3>
            <ul>
              <li>
                <a href="#" onClick="setMapStyle('terrain')"><img class="big_icon" src="{% static 'dam_app/images/map1.png' %}" alt=""></a>
              </li>
              <li>
                <a href="#" onClick="setMapStyle('hybrid')"><img class="big_icon" src="{% static 'dam_app/images/map2.png' %}" alt=""></a>
              </li>
              <li>
                <a href="#" onClick="setMapStyle('roadmap')"><img class="big_icon" src="{% static 'dam_app/images/map3.png' %}" alt=""></a>
              </li>
            </ul>
          </div>
        </li>
        <!-- <li>
          <a href="#" class="classifier_icon first_menu_item"><img class="icon" src="{% static 'dam_app/images/cube.svg' %}" alt="">Classifier</a>
          <div class="classifier_options second_menu">
            <ul>
              <li>
                <a  class="long_btn">Full Algorithm</a>
              </li>
              <li>
                <a  class="long_btn"><img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">Half Algorithm</a>
              </li>
              <li>
                <a  class="long_btn"><img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">
                  <img class="icon" src="{% static 'dam_app/images/electricity.svg' %}" alt="">
                  Quick Algorithm</a>
              </li>
            </ul>
          </div>
        </li> -->
        <li>
          <a href="#" class="export_icon first_menu_item">
            <img class="icon" src="{% static 'dam_app/images/export.svg' %}" alt="">Export
          </a>
          <div class="export_options second_menu">
            <a class="long_btn" onClick="copySourceToClipboard();">Download Source</a>
            <!-- <h3 class="header"><img class="icon" src="{% static 'dam_app/images/export.svg' %}" alt="">Map Export</h3>
            <ul>
              <li>
                <a  class="long_btn">GEO-TIFF</a>
              </li>
              <li>
                <a  class="long_btn">PNG</a>
              </li>
              <li>
                <a  class="long_btn">JPG</a>
              </li>
              <li>
                <a  class="long_btn">SVG</a>
              </li>
            </ul>
            <h3 class="header"><img class="icon" src="{% static 'dam_app/images/polygon.svg' %}" alt="">Polygon Outline</h3>
            <ul>
              <li>
                <a  class="long_btn">GEO-TIFF</a>
              </li>
              <li>
                <a  class="long_btn">JSON</a>
              </li>
            </ul>
            <h3 class="header"><img class="icon" src="{% static 'dam_app/images/signal.svg' %}" alt="">Statistics</h3>
            <ul>
              <li>
                <a  class="long_btn">JSON</a>
              </li>
              <li>
                <a  class="long_btn">XLSX</a>
              </li>
              <li>
                <a  class="long_btn">CSV</a>
              </li>
            </ul> -->
          </div>
        </li>
      </ul>
      <ul class="menu_bottom">
        <li onclick="reportError();">
          <a href="#"><img class="icon" src="{% static 'dam_app/images/bug.svg' %}">Errors</a>
        </li>
        <li>
          <a href=""><img class="icon" src="{% static 'dam_app/images/share.svg' %}">Share</a>
        </li>
        <li>
          <a href=""><img class="icon" src="{% static 'dam_app/images/cpu.svg' %}">Connected</a>
        </li>
      </ul>
    </div>
    <div class="about">
      <a class="about-title" id="desktop">
        <h4>Dam Assessment and Modelling</h4>
        <img class="icon" id="about-close" src="{% static 'dam_app/images/chevron-up.svg' %}" alt="">
        <img class="icon" id="about-open" src="{% static 'dam_app/images/chevron-down.svg' %}" alt="">
      </a>
      <a class="about-title" id="mobile"><h4>DAM</h4></a>
      <div class="about-content">
        <p>DataBytes &copy 2022</p>
        <h4>About the Project</h4>
        <p>This project will survey farm dams using computer vision techniques in conjunction with high resolution satellite data, the output of which will be used by scientists and policy makers to model the effects on climate change and facilitate sustainable farming practices.</p>
        <p>In T3 2021 the Environmental Science Squad created an algorithm which can detect water in high resolution satellite images in Victoria.</p>
        <h4>Motivation</h4>
        <p>Farm dams are a high source of greenhouse gasses when not properly managed, producing the equivalent of approximately 385,000 cars per day in Victoria alone! Deakin University is leading ground-breaking research into the effects of farm dams on climate change, however, there is currently limited survey data of farm dams in Australia. </p>
        <ul>
          <li><a id="about-github" href="https://github.com/DAM-Project">GitHub</a></li>
          <li><a id="about-deakin" href="https://dam-app-django.readthedocs.io/en/latest/">Documentation</a></li>
        </ul>
      </div>
    </div>
  </body>
  <!-- Page interactivity -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('.about-content').hide();
      $('#about-open').show();
      $('#about-close').hide();

      $('.map_icon').on('click', function(e){
        if ($('.map_styles').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.map_icon').addClass('active');
          $('.map_styles').show();
          }});
      $('.classifier_icon').on('click', function(e){
        if ($('.classifier_options').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.classifier_options').addClass('active');
          $('.classifier_options').show();
      }});
      $('.export_icon').on('click', function(e){
        if ($('.export_options').is(':visible')) {
          $('.second_menu').hide();
        } else {
          $('.second_menu').hide();
          $('.first_menu_item').removeClass('active');
          $('.export_options').addClass('active');
          $('.export_options').show();
      }});
      $(".about-title").on('click', function(e) {
          if ($('.about-content').is(':visible')) {
            $('.about-content').hide();
            $('#about-open').show();
            $('#about-close').hide();
          } else {
            $('.about-content').show();
            $('#about-open').hide();
            $('#about-close').show();
          }
        })
      });
  </script>
  <!-- Import scripts -->
  <script>
    $(document).ready(() => {
      // Setup AJAX's csrf token for all requests
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          // TODO: confirm - may be security vulns.
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token|safe }}');
          xhr.setRequestHeader("content-type", "application/json");
        }
      });
    });
  </script>
  <!-- Load the Google Maps API. -->
  <script src="https://maps.google.com/maps/api/js?libraries=drawing"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{% static 'dam_app/js/classifier.js' %}"></script>
  <script defer src="{% static 'dam_app/js/map.js' %}"></script>
  <script defer src="{% static 'dam_app/js/gee.js' %}"></script>
  <script defer src="{% static 'dam_app/js/sentinelWaterDetectionPolygonApp.js' %}"></script>
  <script defer src="{% static 'dam_app/js/gee-interface.js' %}"></script>
  <script defer src="{% static 'dam_app/js/errors.js' %}"></script>
</html>
