<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <!-- Header for the map -->
    {{ map.header.render|safe }}
    
  </head>
  <body>
    <!-- Body for the map -->
    <div id="map">
      {{ map.html.render|safe }}
    </div>
  </body>
  <script>{{ map.script.render | safe }}</script>
  <script type="text/javascript">
    $(document).ready(function () {
      // AJAX post to classifier
      function post(data){
        $.ajax({
          method:'POST',
          url: "/classify/",
          dataType: "json",
          contentType: 'application/json',
          data: data,
          success: function(resp){
            // alert(resp); //will alert ok
            console.warn(resp);
          },
          error: function(resp){
            console.error("Didn't receive OK response");
            console.error(resp);
          }
        });
      }
      
      // Setup AJAX's csrf token for all requests
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          // TODO: confirm - may be security vulns.
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token|safe }}');
          xhr.setRequestHeader("content-type", "application/json");
        }
      });
      
      // Get Map
      const mapID = document.getElementsByClassName("folium-map leaflet-container")[0].id
      const map = eval(mapID);
      
      // Add click listener
      map.on(L.Draw.Event.CREATED, function(e) {
        const layer = e.layer, type = e.layerType;
        const coords = JSON.stringify(layer.toGeoJSON());
        
        layer.removeEventListener(); // remove default implementation
        layer.on('click', function() {
          // alert("coords");
          console.log(coords);
          post(coords)
        });
      });
    });
  </script>
</html>
